.footer {
  p {
    color: #aaa;
    font-size: .6rem;
    margin: 0;
    padding: 1rem 0 0;
    text-align: center;

    a {
      &,
      &:hover,
      &:focus {
        color: #aaa;
        text-decoration: none;
        font-weight: 900;
        margin: 0 .3rem;
      }
    }

    svg {
      font-size: .8rem;
      position: relative;
      top: -.14rem;
    }
  }
}
