.status {
  margin: 0 0 1rem;

  h1,
  p {
    color: #aaa;
    font-weight: 300;
  }

  h1 {
    font-size: 1rem;
    margin: 0 0 .3rem;
  }

  p {
    font-size: .7rem;
    margin: 0 0 .1rem;
  }
}
